function formatCount(count) {
  var numCount = parseInt(count);
  if(numCount >= 100000000) {
    return (numCount/100000000).toFixed(1) + '亿';
  } else if (numCount >= 10000) {
    return (numCount/10000).toFixed(1) + '万';
  } else {
    return numCount;
  }
}

// 秒 转 mm::ss
function formatDuration(millisecond) {
  var totalSeconds = Math.round(millisecond / 1000);
  var m = Math.floor(totalSeconds / 60);
  var s = totalSeconds % 60;
  m = m + '';
  s = s + '';
  m = (m.length == 1) ? '0'+ m : m;
  s = (s.length == 1) ? '0'+ s : s;
  return m + ':' + s;
}

module.exports = {
  formatCount: formatCount,
  formatDuration: formatDuration
}